
.defaultHero,
.roomsHero {
    padding-top: 114px;
    min-height: calc(100vh);
    background: url('../../images/defaultbcgrnd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roomsHero {
    min-height: 60vh;
    background: url('../../images/rooms.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}