@import './variables';
@import './components/navbar';
@import './components/hero';
@import './components/banner';
@import './components/buttons';
@import './components/sectionTitle';
@import './components/services';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0px 20px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}